body {
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: gray;

}




nav{
    margin-bottom: 20px;
    background-color: lightcoral;
    background: linear-gradient(to right, lightcoral, pink);
    
    
}
nav a {
    color: black;
}
.read {
    border-top: 1px dashed #502542;
    width:100%;
    padding-left:2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

}
.read::before {
    color:#502542;
    margin-left:-1.5rem;
    margin-right:1rem;
    content: "❯❯";
}
.read:hover{
    color: blue;
}
.window{
    width: 200px;
    height: 290px;
    border: 5px solid gray;
    margin-left: 20px;
    float: left;
}
iframe{
    padding-top: 15px;
    padding-left: 22px;
}
.window h3{
    text-align: center;
    
}
@import url(https://fonts.googleapis.com/css?family=Rubik+One&subset=latin,cyrillic);
.gradient-text {
  font-family: 'Rubik One', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  background: linear-gradient(45deg, #0B2349 33%, #0D61BC 66%, #008000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
  margin: 20px auto;
}

footer{
    background-color: black;
}
footer p{
    text-align: left;
    margin-top: 20px;
    margin-left: 15px;
    color: white;
}


footer img{
    height: 100px;
    width: 150px;
}
main{

    height: 310px;
}
